//color
// $color-primary: #173653;
// $color-primary-light: #5f91bd;
// $color-primary-dark: #101b2d;
$color-orange: #deaa86;
$color-orange-dark: #b85d1c;


$color-white: #fff;
$color-black: #15141b;
$color-grey: #eee;
$color-grey-dark: #555;

//font
$default-font-size: 1.6rem;


