.about-us {
  margin-left: 8rem;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  &-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    padding:10rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;              
  }
  &-heading {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    color: $color-grey-dark;
  }
  .small-underline,
  .big-underline {
    height: .1rem;
    background-color: $color-orange-dark;
  }
  .small-underline {
    width: 9rem;
    margin: 0 auto 1rem auto;
  }
  .big-underline { width: 20rem; }
  .sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: capitalize;
    color: $color-orange-dark;
  }

  &-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
  }

  &-btn {
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: $color-orange-dark;
    background-color: transparent;
    text-transform: uppercase;
    border: .1rem solid $color-orange-dark;
    outline: none;
    cursor: pointer;
    &:hover .btn-arrow {
      margin-left: 1.5rem;
    }
    .btn-arrow {
      margin-left: .5rem;
      -webkit-transition: margin-left .8s;
      transition: margin-left .8s;
    }
  }

  &-images{
    -webkit-box-flex: 1;
      -ms-flex: 1 1;
        flex: 1 1;
    position: relative;

   .image{
     width: 32rem;
     position: absolute;
     top:50%;
     left:50%;
     -webkit-box-shadow: 0 3rem 6rem rgba(0,0,0,.4);
             box-shadow: 0 3rem 6rem rgba(0,0,0,.4);
     border-radius: .4rem;
     border:.2rem solid $color-orange-dark; 
   } 
   .image-1 {
     -webkit-transform: translate(-20%, -90%);
             transform: translate(-20%, -90%);
   }
    .image-2 {
      -webkit-transform: translate(-70%, -70%);
              transform: translate(-70%, -70%);
    }
    .image-3 {
      -webkit-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }  
    .image-4 {
      -webkit-transform: translate(-30%, -30%);
      transform: translate(-30%, -30%);
    }
  }
}





