.about-us {
  margin-left: 8rem;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  &-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    padding:10rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;              
  }
  &-heading {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    color: $color-grey-dark;
  }
  .small-underline,
  .big-underline {
    height: .1rem;
    background-color: $color-orange-dark;
  }
  .small-underline {
    width: 9rem;
    margin: 0 auto 1rem auto;
  }
  .big-underline { width: 20rem; }
  .sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: capitalize;
    color: $color-orange-dark;
  }
  &-paragraph{
    
  }
  &-btn {
    width: 21rem;
    padding: 2rem 3rem;
    color: $color-orange;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $color-orange;
    -webkit-transition: margin-left .8s;
    transition: margin-left .8s;
    &:hover {
      .fa-angle-double-right {
        margin-left: 2rem;}
    }
    .fa-angle-double-right {
      margin-left: .7rem;
   
    }
  }

  &-images{
    -webkit-box-flex: 1;
      -ms-flex: 1 1;
        flex: 1 1;
  }
}





