// sidebar

.sidebar {
  width: 8rem;
  height: 100%;
  background-color: $color-grey;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;               


  .menu-icon {
    margin-top: 3rem;
    cursor: pointer;
    &:hover {
      .line {width: 2.5rem;}
    }
    .line {
      height: .2rem;
      width: 2.5rem;
      background-color: $color-black;
      margin-bottom: .6rem;
      &-1, &-3 {
        width: 1.8rem;
        -webkit-transition: width .3s;
        transition: width .3s;
      }
    }
  } 

  .social-icon-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;                
    .social-link {
      font-size: 2rem;
      color: #777;
      -webkit-transition: color .3s;
      transition: color .3s;
      &:hover { color: #deaa86;}
    }        
  }
  .year {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #555;
    font-weight: 400;
  }
}
//nav
.navigation {
  margin-left: 8rem;
  position: fixed;
}