
body {
  font-family: 'Montserrat', sans-serif;
}

.common-header {
  padding:5rem;
  text-align: center;
  color:$color-orange-dark;
  .common-heading {
    font-size:4rem;
    font-weight: 300;
    letter-spacing: .2rem;
  }
}

.small-underline,
.big-underline {
  height: .1rem;
  background-color: $color-orange-dark;
}

.small-underline {
  width: 9rem;
  margin: 0 auto 1rem auto;
}

.big-underline {
  width: 20rem;
  margin: auto;
}

.sub-heading {
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  text-transform: capitalize;
  color: $color-orange-dark;
}

.btn-arrow {
  margin-left: .5rem;
  -webkit-transition: margin-left .8s;
  transition: margin-left .8s;
}